beautifulsoup4
bs4
cpuinfo==9.0.0  # correct name is py-cpuinfo
GPUtil
keyboard
platformdirs
pygame
pyautogui
pyjokes
pyperclip
pyttsx3
pywhatkit
requests
screen-brightness-control
SpeechRecognition
wikipedia
wolframalpha
smtplib  # built-in, no need to install
psutil
speedtest-cli
newsapi-python
pyaudio
