beautifulsoup4
cpuinfo
GPUtil
keyboard
newsapi-python
platformdirs
playsound
psutil
pyautogui
pyjokes
pyperclip
pyttsx3
pygame
pywhatkit
requests
screen-brightness-control
SpeechRecognition
wolframalpha
wikipedia
pyaudio
